{{ item.name }} = {% if item.dbname is defined %} dbname={{ item.dbname }} {% endif %}  {% if item.host is defined %} host={{ item.host }} {% endif %} {% if item.port is defined %} port={{ item.port }} {% endif %} {% if item.user is defined %} user={{ item.user }} {% endif %} {% if item.password is defined %} password={{ item.password }} {% endif %} {% if item.client_encoding is defined %} client_encoding={{ item.client_encoding }} {% endif %} {% if item.datastyle is defined %} datastyle={{ item.datastyle }} {% endif %} {% if item.timezone is defined %} timezone={{ item.timezone }} {% endif %} {% if item.pool_size is defined %} pool_size={{ item.pool_size }} {% endif %} {% if item.connect_query is defined %} connect_query={{ item.connect_query }} {% endif %} {% if item.auth_user is defined %} auth_user={{ item.auth_user }} {% endif %}
